[submodule "upstream/js-bson"]
	path = upstream/js-bson
	url = https://github.com/mongodb/js-bson.git
	ignore = dirty
[submodule "upstream/node-mongodb-native"]
	path = upstream/node-mongodb-native
	url = https://github.com/mongodb/node-mongodb-native.git
	ignore = dirty
